<%- layout('layouts/boilerplate') %>
<div class="container">
  <div class="row justify-content-center">
    <div class="col text-center">
      <h1>Edit Device</h1>
    </div>
  </div>

  <form action="/inventories/<%=inventory._id%>?_method=put" method="post">
    <div class="row justify-content-center">
      <div class="col-2 offset-2">
        <label for="username">Username:</label>
      </div>
      <div class="col-4">
        <input
          type="text"
          id="username"
          name="inventory[username]"
          value="<%=inventory.username%> "
        />
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-2 offset-2">
        <label for="serial">Serial Number:</label>
      </div>
      <div class="col-4">
        <input
          type="text"
          id="serial"
          name="inventory[serial]"
          value="<%=inventory.serial%> "
        />
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-2 offset-2">
        <label for="make">Make:</label>
      </div>
      <div class="col-4">
        <input
          type="text"
          id="make"
          name="inventory[make]"
          value="<%=inventory.make%> "
        />
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-2 offset-2">
        <label for="model">Model:</label>
      </div>
      <div class="col-4">
        <input
          type="text"
          id="model"
          name="inventory[model]"
          value="<%=inventory.model%> "
        />
      </div>
    </div>
    <div class="row justify-content-center mb-6">
      <div class="col-2 offset-2">
        <label for="warranty">Warranty:</label>
      </div>
      <div class="col-4">
        <input
          type="text"
          id="warranty"
          name="inventory[warranty]"
          value="<%=inventory.warranty%> "
        />
      </div>
    </div>
    <br />
    <div class="row justify-content-center">
      <div class="col-2 text-center">
        <button>Save Inventory</button>
      </div>
    </div>
  </form>
  <div class="row justify-content-center">
    <div class="col-2 text-center">
      <a href="/inventories/<%= inventory._id %> ">Back</a>
    </div>
  </div>
</div>
