<%- layout('layouts/boilerplate') %>

<h1>
  <%= inventory.username.charAt(0).toUpperCase() +
  inventory.username.charAt(1).toUpperCase() + inventory.username.slice(2) %>
</h1>
<div>Device Name: ERG-<%= inventory.serial.toUpperCase() %></div>
<div>
  Make: <%= inventory.make.charAt(0).toUpperCase() + inventory.make.slice(1) %>
</div>
<div>
  Model: <%= inventory.model.charAt(0).toUpperCase() + inventory.model.slice(1)
  %>
</div>
<div>Warranty: <%= inventory.warranty %></div>
<br />
<form action="/inventories/<%=inventory._id %>?_method=delete" method="post">
  <button>Delete</button>
</form>

<a href="/inventories/<%= inventory._id %>/edit">Edit</a>
<footer>
  <a href="/inventories">Back</a>
</footer>
